---
import Layout from '../layouts/Layout.astro';
---
<Layout title = "المسئوليات الرقمية">
  <div class="loader">
    <div></div>
  </div>
  <center class="content">
    <div dir="rtl" class="hell">
        <h2>برأيك ما هي الحقوق و المسئوليات الرقمية ؟</h2>
        <p>الحقوق والسلطات الرقمية هي المفاهيم والمبادئ التي تنظم التفاعلات والأنشطة الرقمية للأفراد والمؤسسات على الإنترنت. هذه الحقوق والسلطات تهدف إلى تحقيق التوازن بين حقوق المستخدمين والمسؤوليات التي تفرض على الأفراد والكيانات عبر الإنترنت. فيما يلي بعض الحقوق والسلطات الرقمية الهامة</p>
        <h3> حقوق الأفراد الرقمية :</h3>
        <br>
        <ul>
            <li><p>حق الخصوصية: الحق في الحفاظ على خصوصيتك عبر الإنترنت والحماية من جمع واستخدام بياناتك الشخصية دون إذنك.</p></li>
            <li><p>حق الحرية على الإنترنت: الحق في التعبير عن الآراء والأفكار على الإنترنت دون تدخل غير مشروع من الحكومات أو الشركات.</p></li>
            <li><p>حق الوصول: الحق في الوصول إلى المعلومات والخدمات عبر الإنترنت بشكل عادل ومتساوي.</p></li>
            <li><p>حق الحماية من الاحتيال والجرائم الإلكترونية: الحق في الحماية من الاحتيال عبر الإنترنت والتحقيق في الجرائم الإلكترونية.</p></li>
        </ul>
        <h3> السلطات الرقمية :</h3>
        <br>
        <ul>
            <li><p>تنظيم البيانات: تنظيم كيفية جمع واستخدام البيانات الشخصية والتأكد من أن هذا الجمع والاستخدام يتم بموافقة المستخدم.</p></li>
            <li><p>مراقبة الإنترنت: تنظيم ومراقبة استخدام الإنترنت لضمان الامتثال للقوانين والتشريعات الرقمية.</p></li>
            <li><p>مكافحة الجرائم الإلكترونية: مكافحة الجرائم عبر الإنترنت ومحاسبة المرتكبين.</p></li>
            <li><p>حماية الملكية الفكرية: تنظيم حقوق الملكية الفكرية عبر الإنترنت والحفاظ على حقوق المبتكرين والمؤلفين.</p></li>
        </ul>
        <p>تختلف حقوق وسلطات الإنترنت من دولة إلى أخرى ومن قانون لآخر، وهناك جهود دولية لتطوير معايير واتفاقيات تحكم السلوك وحقوق المستخدمين على الإنترنت.</p>
    </div>
    <a href="/"><input dir="rtl" id="butn" type="button" value="رجوع"></a></center>
</Layout>