---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../layouts/Navbar.astro';
---

<Layout title="المواطنة الرقمية">

<body class="hel" data-bs-target="#navbar-example2" data-bs-spy="scroll">
  
 <!-- <div class="loader">
    <div></div>
  </div> -->
 
    <!--Navbar End-->

    <!--Carousel-->
	<Navbar />
    <div id="carousel" class="main-carousel" data-flickity='{ "wrapAround": true ,  "autoPlay": true }'>
         <div class="carousel-cell"><img src="imgs/الفن-الرقمي.png" alt="" srcset=""></div>
        <div class="carousel-cell"><img src="imgs/ea66e9c4548dd351a56d521f431444a9.jpg"></div>
        <div class="carousel-cell"><img src="imgs/sid_2020_hero_0.jpg" alt="" srcset=""></div>
      </div>
      <!--Carousel End-->

      <!--The Tasks-->
      <div dir="rtl" id="task" class="tasks">
        <div class="container justify-content -center">
          <h1>الفروع</h1>
          <div class="row">
            <a href="/1" class="col col-lg-4 col-md-12 col-sm-12 text-center"><img src="/imgs/الفن-الرقمي.png" alt="" height="200" width="300" srcset=""><p>الوصول الرقمي</p></a>
            <a href="/2" class="col col-lg-4 col-md-12 col-sm-12 text-center"><img src="/imgs/download.png" alt="" height="200" width="300" srcset=""><p>التجارة الالكترونية</p></a>
            <a href="/3" class="col col-lg-4 col-md-12 col-sm-12 text-center"><img src="/imgs/download (1).png" alt="" height="200" width="300" srcset=""><p>التواصل الالكتروني</p></a>
            
            
          </div>
          <div class="row">
            <a href="/4" class="col col-lg-4 col-md-12 col-sm-12 text-center"><img src="/imgs/download (2).png" alt="" height="200" width="300" srcset=""><p>محو الامية الرقمية</p></a>
            <a href="/5" class="col col-lg-4 col-md-12 col-sm-12 text-center"><img src="/imgs/ea66e9c4548dd351a56d521f431444a9.jpg" alt="" height="200" width="300" srcset=""><p>اللباقة الرقمية</p></a>
            <a href="/6" class="col col-lg-4 col-md-12 col-sm-12 text-center"><img src="/imgs/pngtree-digital-marketing-team-with-laptops-and-big-bulb-image_1221679.jpg" alt="" height="200" width="300" srcset=""><p>التشريعات الالكترونية</p></a>
        </div>
          <div class="row">
            <a href="/7" class="col col-lg-4 col-md-12 col-sm-12 text-center"><img src="/imgs/sid_2020_hero_0.jpg" alt="" height="200" width="300" srcset=""><p>الحقوق و المسؤليات الرقمية</p></a>
            <a href="/8" class="col col-lg-4 col-md-12 col-sm-12 text-center"><img src="/imgs/download (1).jfif" alt="" height="200" width="300" srcset=""><p>الصحة و السلامة الالكترونية</p></a>
            <a href="/9" class="col col-lg-4 col-md-12 col-sm-12 text-center"><img src="/imgs/images.png" alt="" height="200" width="300" srcset=""><p>الامن الرقمي</p></a>
        </div>
        </div>
      </div>

      <div id="managers" dir="rtl" class="managers">
        <div  class="container justify-content-center">
          <h1>المشرفون</h1>
          <div class="row">
            <div class="offset-3 col-12 offset-md-1 col-md-12 offset-lg-2 col-lg-12 offset-xl-0 col-xl-12 text-center">
              <img src="imgs/logo.png" alt="" srcset=""></div>
            <div class="offset-3 col-12 offset-md-1 col-md-12 offset-lg-2 col-lg-12 offset-xl-0 col-xl-12 text-center">
              <div class="texts">
                <h3>فريق سوهاج</h3>
                <p>
                    هو فريق تم انشاءه في أواخر عام 2016 م و تدريب مجموعة من المدربين على تطبيقات أوفيس 365 للقيام بالتدريب عليها من خلال مركز التطوير التكنولوجي بسوهاج ، وكان يرأس هؤلاء المدربين مجموعة الدعم الفني العاملين بمركز التطوير التكنولوجي .
                    وفي نهاية عام 2018 م تفتقت عن ذهن قائد الفريق الأستاذ : طارق أبو زاهر فكرة بارعة ألا وهي تكوين فريق من المدربين الذين تم تدريبهم في أواخر عام 2016 م ليكون فريقاً متميزاً ، يكون هدفه الأساسي رفع كفاءة العملية التعليمية وتحقيق جودة المنتج التعليمي في جميع أنحاء الدول العربية بصفة عامة ومصر بصفة خاصة ، ويتم رفع الكفاءة التكنولوجية للطلاب والمعلمين وجميع العاملين بالتربية والتعليم .
                    وبالفعل تم تنفيذ ونجاح فكرة القائد ، وقد واصل الفريق تألقه وبدأ يشق طريقه ويتألق في مختلف الأماكن والبقاع ، رغم كل التحديات والصعوبات التي واجهته ،ولا يبتغي إلا نشر العلم النافع والنهوض بالأمة العربية تكنولوجيا وأخلاقيا من خلال خلق القدوة والفريق العربي للاقتداء به واتباع التعليمات والتخطيط المتقن للتدريبات المتعددة ، وبتوفيق من الله لمع الفريق وازدهر وأصبح يضم كوكبة لامعة من المدربين الخبراء 
                </p>
              </div>
          </div>
          </div>
        </div>
      </div>
      <!--The Tasks End-->
</Layout>
