


<header style="margin-top: 50px;">
    <nav id="navbar-example2" dir="rtl" class="navbar navbar-expand-lg fixed-top navbar-dark">
      <div class="container justify-content-center">
          <img src="imgs/download(3).png" height="80"><a class="navbar-brand" href="index.html"><p id="dgpar" style="color: #fff; margin-left: 40px;">المواطنة <br>الرقمية</p></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div style="margin-right: -30px;" class="collapse navbar-collapse flex-grow-0 " id="navbarSupportedContent">
            <ul class="bord navbar-nav mb-2 mb-lg-0 text-center">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#carousel">القائمة الرئيسية</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#task">الفروع</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#managers">المشرفون</a>
              </li>
            </ul>
          </div> 
        </div>
      </nav>
</header>